.keynote {
  text-align: center;
}

.keynote img {
  border: 5px solid white;
  width: 100%;
}

.keynote h3 {
  font-size: 1.5em;
}

.keynote h4 {
  font-size: 1.2em;
}

.keynote h5 {
  font-size: 1em;
  font-style: italic;
}
