.keynotes h4 {
  color: rgba(28, 30, 64, 1);
  text-shadow: none;
}

.keynotes .thumbnail h3 {
  color: rgba(28, 30, 64, 1);
  font-size: 1.5em;
  text-shadow: none;
}

.keynotes .thumbnail h4 {
  color: rgba(28, 30, 64, 1);
  font-size: 1.2em;
  text-shadow: none;
}

.keynotes .thumbnail h5 {
  color: rgba(28, 30, 64, 0.8);
  font-size: 1em;
  text-shadow: none;
  font-style: italic;
}
