.sea {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.wave {
  position: absolute;
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
  top: -60px;
  background-image: url('../img/wave-1.svg');
}

@media screen and (max-width: 642px) {
  .main {
    padding-bottom: 30px;
  }
  
  .wave {
    position: absolute;
    background-repeat: repeat-x;
    width: 100%;
    height: 20px;
    top: -20px;
    background-image: url('../img/wave-1.svg');
  }
}
