.cloud {
  position: absolute;
  background-image: url('../img/cloud.svg');
  height: 200px;
  width: 200px;
  left: -200px;
  opacity: 0.45;
  fill: #fff;
  animation-name: linemove;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
}

.cloud-1 {
  width: 170px;
  top: 60px;
  animation-delay: -125s;
  animation-duration: 90s;
}

.cloud-2 {
  width: 175px;
  top: 150px;
  animation-delay: -40s;
  animation-duration: 60s;
}

.cloud-3 {
  width: 185px;
  top: 25px;
  animation-delay: -50s;
  animation-duration: 85s;
}

.cloud-4 {
  width: 180px;
  top: 1800px;
  animation-delay: -30s;
  animation-duration: 70s;
}

.cloud-5 {
  width: 190px;
  top: 90px;
  animation-duration: 65s;
  animation-delay: -10s;
}

.cloud-6 {
  width: 180px;
  top: 10px;
  animation-delay: -25s;
  animation-duration: 75s;
}

@keyframes linemove
{
  from {
    left:-200px;
  }
  to {
    left:120%;
  }
}
