/*html, body { height: 100%; }

body {
  font-size: 100%;
  color: #474545;
  font-weight: 400;
  background: #FFFEEE;
  overflow-x: hidden;
}*/

.sea {
  position: absolute;
  float: left;
  width: 100%;
  height:180px;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; // iOS Safari fix

}

.wave {
  background: url('img/olita.svg');
  background-repeat: repeat-x;
  position: absolute;
  top: -75px;
  width:110%;
  height: 80px;
  animation-name: wave;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.45;
}

.wave1 {
  background: url('img/olita.svg');
  background-repeat: repeat-x;
  position: absolute;
  top: -65px;
  width:110%;
  height: 80px;
  animation-name: wave;
  /*animation-timing-function: linear;*/
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  opacity: 0.75;
}

.wave2 {
  background: url('img/olita2.svg');
  background-repeat: repeat-x;
  position: absolute;
  top: -55px;
  width:110%;
  height: 80px;
  animation-name: wave;
  /*animation-timing-function: linear;*/
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*opacity: 0.65;*/
}

.ocean {
  /*background: rgb(129, 191, 193);*/
  display:inline-block;
  height: 10px;
  width:100%;
  position:absolute;
  bottom:-5px;
  left:0;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50px;
  }
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50px;
  }
}
